name: Lint GitHub Actions

on:
  push:
    branches:
      - "**"
    paths:
      - ".github/**/*.yml"
      - ".github/**/*.yaml"
      - ".github/aqua-checksums.json"

env:
  AQUA_CONFIG: ".github/aqua.yaml"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: "v2.46.0"
      - name: Run `pinact run --check`
        run:
          pinact run --check
